.container {
    height: 68%;
    width: 90%
}

.arrow {
    width: 8px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--activeTab);
}

.bg {
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg i:before {
    vertical-align: middle;
}

.bg i {
    color: var(--textColor);
}

.bg:hover {
    background-color: rgba(51, 51, 56, 0.63) !important;
    color: var(--orange) !important;
}

.thisButton {
    width: 12%;
    background: var(--cardHeaderAlpha);
    color: var(--textColor);
    bottom: 0;
}

.marketButton {
    width: 50%;
}

.marketButton.easyTradingButton {

    background: var(--darkGreen);
}

.marketButton.advancedTradingButton {

    background: var(--orange);
}

.marketButton:hover {
}

.flashit {
    -webkit-animation: flash linear 2s 3;
    animation: flash linear 2s 3;
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.marketTitleContainer {
    color:  var(--marketTitleContainer);
    width: 100%;
    max-width: 750px; /* Make it slightly wider to match the design */
    border-radius: 15px;
    text-align: left;
}

.title {
    font-size: 3.5rem;
    font-weight: 900;
    margin: 0;
    line-height: 1.1; /* Adjust the line height for better spacing */
}

.subtitle {
    font-size: 3.5rem;
    font-weight: 900;
    margin-top: 10px; /* Added top margin for spacing between the title and subtitle */
    line-height: 1.1; /* Adjust line height for better spacing */
}

.tagline {
    font-size: 1.2rem;
    font-weight: 350;
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    border: 2px solid #e4e9f2;
    border-radius: 25px;
    padding: 10px 15px;
}

.input {
    padding: 14px;
    width: 80%;
    border: none;
    border-radius: 25px;
    font-size: 1.1rem;
    outline: none;
    color: #333;
    background-color: #f7f7f7;
    font-size: 0.8rem;
}

.input:focus {
    border-color: #4e73df;
}

.button {
    padding: 12px 25px;
    background-color: #4e73df;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1rem;
}

.button:hover {
    background-color: #2e59b9;
}

